name: Maven Build & Deploy to Tomcat

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '11'

    - name: Maven clean
      run: mvn clean

    - name: Maven package
      run: mvn package

    - name: Deploy WAR to Tomcat
      run: |
        WAR_FILE=$(**/*.war)
        curl -v -u "${{ secrets.TOMCAT_USER }}:${{ secrets.TOMCAT_PASSWORD }}" \
        -T "$WAR_FILE" \
        "http://54.234.1.250:8081/manager/text/deploy?path=/test&update=true"
