name: Java CI/CD Pipeline

on:
  push:
    branches:
      - main
      - develop
  pull_request:

env:
  MAVEN_CLI_OPTS: "-B -DskipTests"
  SONAR_SCANNER_OPTS: "-Xmx1024m"

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      - name: Build with Maven
        run: mvn $MAVEN_CLI_OPTS clean package

      - name: Upload WAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: war-file
          path: webapp/target/*.war


  sonar:
    name: SonarQube Analysis
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Run SonarQube Scan
        run: |
          mvn sonar:sonar \
            -Dsonar.projectKey=project-1 \
            -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }} \
            -Dsonar.qualitygate.wait=true


  deploy:
    name: Deploy to Tomcat
    runs-on: ubuntu-latest
    needs: sonar
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: war-file
          path: .

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.TOMCAT_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 400 ~/.ssh/id_rsa
          ls -l ~/.ssh/id_rsa
          file ~/.ssh/id_rsa

      - name: Copy WAR to Tomcat Server
        run: |
          scp -o StrictHostKeyChecking=no *.war \
          ${{ secrets.TOMCAT_USER }}@${{ secrets.TOMCAT_HOST }}:/opt/tomcat/webapps/

      - name: Restart Tomcat
        run: |
          ssh -o StrictHostKeyChecking=no \
          ${{ secrets.TOMCAT_USER }}@${{ secrets.TOMCAT_HOST }} \
          "sudo systemctl restart tomcat"


  aws-upload:
    name: Upload WAR to S3
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: war-file
          path: .

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Upload to S3
        run: |
          aws s3 cp *.war s3://s3bucketforuploadwarfile/warfiles/
